.Blog-heading{
  position: absolute;  
  padding-left: calc(100/1536 *100%);
  height: 40px;
  width:100%;
}

.heading{
  color: white;
  font-size: xx-large;
}

.Blog-title{
  font-size: x-large;
  font-weight: 700;
}

.Blog {
    position: absolute;                                 /* Set the position of the content section within the background */
    top: 0;                                             /* Position the content section at the top */
    left: 0;                                            /* Position the content section at the left */
    width: 100%;                                        /* Set the width of the content section to 100% */
    background-color: rgba(0, 0, 0, 0.8);             /* Set the background color of the content section with opacity */
    z-index: 3;                                         /* Set the z-index of the content section to 3 */
    color: white;                                     /* Set the text color of the content section to white */
    margin-top: calc(100/1536 *100%);                                  /* Add top margin to the content section */
    padding: calc(20/1536 *100%);                                      /* Add padding to the content section */
    transition: opacity 0.5s;                           /* Apply transition effect to the opacity property */
    display: flex;                                      /* Display the content section as a flex container */
  }

  .Blog-left{
    flex: 1;                                            /* Set the flex property of the left section to 1 */
    padding-left: calc(100/1536 *100%);                                /* Add left padding to the left section */
    padding-top: 100px;                                  /* Add top padding to the left section */
    width:100%;
  }

  .Blog-right {
    flex: 0;                                            /* Set the flex property of the right section to 1 */
    padding-top: 100px;
    padding-left: 100px;                                 /* Add left padding to the right section */
    padding-right: calc(350/1536 *100%);                                /* Add right padding to the right section */
    width: 35%;
  }
  
  .Blog-right > img {
    height: 130px;                                       /* Set the height of the image within the right section */
    width: auto;
    }

    #more {
      display: none;
    }
