/* Style the video: 100% width and height to cover the entire window */
#About-bg{
    position: relative;
    margin: 0;
    max-width: 100%;
    max-height: auto;
}

#About-bg-video{
    position: relative;
    z-index: 1;
}

#myVideo {
    position: absolute;
    margin: 0;
    width: 100%;
    height: auto;
}
